# <img style="float: left; padding: 10px 0px 0px 0px;" src="https://static.wixstatic.com/media/57c50b_10ace1329e484af3abaa7321ca5d7010~mv2.jpg/v1/fill/w_480,h_270,al_c,lg_1,q_80,enc_auto/57c50b_10ace1329e484af3abaa7321ca5d7010~mv2.jpg"  width="300" /> Prueba técnica Argos
**Ivan Mendoza**<br>

---

Comenzamos importando los paquetes necesarios:

In [2]:
# !pip install lazypredict

In [24]:
from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split

import pandas
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

##### Prueba de Ingreso:

Se solicita resolver los siguientes puntos de análisis, para esto puede usar *Python*, *R* o *Spark*.

##### Recursos Necesarios

Software adecuado para realizar la prueba de acuerdo con el lenguaje que vaya a usar, se
recomienda usa

- Anaconda
- R Studio
- Databricks<br>

O lo que considere útil para desarrollar su prueba.


Datasets necesarios para el desarrollo de al pureba

[Dataset Iris.](https://www.kaggle.com/saurabh00007/iriscsv) <br>

[Dataset Crímenes chicago.](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzpq8t2) <br>
Debido a que es una cantidad muy grande de datos, tome solo los últimos 3
años de información (2016-2019), puede filtrar directamente desde la fuenteba.

In [15]:
df_iris = pd.read_csv("../Data/Iris.csv")
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1           5.10          3.50           1.40          0.20  Iris-setosa
1   2           4.90          3.00           1.40          0.20  Iris-setosa
2   3           4.70          3.20           1.30          0.20  Iris-setosa
3   4           4.60          3.10           1.50          0.20  Iris-setosa
4   5           5.00          3.60           1.40          0.20  Iris-setosa

##### Preprocesamiento

Validamos que las información no se encuentre con valores nulos

In [17]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

##### Estadísticas descriptivas

Ahora, podemos calcular las estadísticas descriptivas básicas para cada variable en el conjunto de datos. Con el método `describe()` obtenemos un resumen:

In [33]:
df.describe()

          Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count 150.00         150.00        150.00         150.00        150.00
mean   75.50           5.84          3.05           3.76          1.20
std    43.45           0.83          0.43           1.76          0.76
min     1.00           4.30          2.00           1.00          0.10
25%    38.25           5.10          2.80           1.60          0.30
50%    75.50           5.80          3.00           4.35          1.30
75%   112.75           6.40          3.30           5.10          1.80
max   150.00           7.90          4.40           6.90          2.50